/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
/* Add these styles to ensure proper layout */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }